.example-card {
    max-width: 500px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:35px;
    margin-left: 30%; 
  }
  .image{
    size: 1px;
    width: 300px;
    display: flex;
    margin: 0%;
     
  }
  .subtitle{
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: navy;
    margin-left: 5%;
  }
  
  .example-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 15%;
  }
  .signup-button{
    display: inline;
    margin-left: 75%;
  }
  .err{
    color: red; 
    margin-left: 15%; 
    margin-top: -2%;
    margin-bottom: 2%;
  }
  p{
    color:red;
  }