
        <div *ngIf = "!(authService.user | async)"> <!--אם המשתמש לא מחובר תופיע לו הודעה בהתאם  -->
          <h1>You are not logged in ,and you can not see this page!</h1>
      </div>
<div *ngIf = "(authService.user | async)">  <!-- אם מחובר תציג את הדף -->

    <mat-card class="example-card">
      <mat-card-content>
        

        <p>This is the welcome page :)</p>
  
        <div>
            <ul>
              <!-- מציג את הטודוס של המשתמש -->
              <mat-checkbox *ngFor = "let todo of todos">
                            {{ todo.text }}
              </mat-checkbox>
            </ul>
        </div>
        <mat-card-actions>
            <form class="example-form" (ngSubmit) = "addTodo()">  <!--מפנה לפונקציה כאשר לוחצים על הכפתור  -->
               

              <mat-form-field class="example-full-width">
                <input [(ngModel)] = "todo" name = "todo" matInput placeholder="Add todo item" value="" >
              </mat-form-field>
              <div>
                  <input type = "Submit" value = "Add todo">
              </div>      
            </form>  
          </mat-card-actions>
      
      </mat-card-content>
    </mat-card>
  </div>